<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Notificacion" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://w3it.fortiddns.com:9193/WSMailroom/NotificacionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Notificacion"
                contract="NotificarPedido.Notificacion" name="BasicHttpBinding_Notificacion" />
        </client>
    </system.serviceModel>
</configuration>