<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Notificacion" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WSMailroom/NotificacionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Notificacion"
                contract="ServiceReference.Notificacion" name="BasicHttpBinding_Notificacion" />
        </client>
    </system.serviceModel>
</configuration>