<div class="container" ng-controller="ReportesController" style="background-color: white;border-radius:10px;">
    <div id="divLoading"></div>

    <div class="row">
        <h2><i class="far fa-file-alt"></i>&nbsp;Consultas</h2>
    </div>

    <div class="row">
        <div class="col-sm col-lg-12">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="sample1">Número de Seguimiento</label>
                        <input type="text" class="form-control" ng-model="item.nroSeguimiento" id="nroSeguimiento">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="sample2">Fecha del Ingreso Desde</label>
                        <input ng-model="item.fechaDesde" autocomplete="off" type="text" class="form-control datepicker" id="dtpFechaIngresoDesde">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="sample2">Fecha del Ingreso Hasta</label>
                        <input ng-model="item.fechaHasta" autocomplete="off" type="text" class="form-control datepicker" id="dtpFechaIngresoHasta">
                    </div>
                    <div class="form-group col-lg-3 mt-lg-4 col-md-12">
                        <button type="submit" ng-click="GetIngresosFilter()" class="btn btn btnOcasa">Buscar</button>
                        <button type="button" ng-click="DownloadExcel()" class="btn btnOcasa">Excel</button>
                        <button type="button" ng-click="LimpiarFiltros()" class="btn btnOcasa">Limpiar</button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="ddlProducto">Producto </label>&nbsp;<a href="" ng-click="LimpiarComboProducto()"><i style="color:gray" class="fas fa-trash"></i></a>
                        <ui-select ng-model="item.producto" theme="select2" class="form-control" title="Seleccione el producto">
                            <ui-select-match placeholder="Buscar...">{{$select.selected.Nombre}}</ui-select-match>
                            <ui-select-choices repeat="item in listProductos | filter: $select.search">
                                <div ng-bind-html="item.Nombre | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="ddlProveedor">Proveedor </label>&nbsp;<a href="" ng-click="LimpiarComboProveedor()"><i style="color:gray" class="fas fa-trash"></i></a>
                        <ui-select ng-model="item.proveedor" theme="select2" class="form-control" title="Seleccione el proveedor">
                            <ui-select-match placeholder="Buscar...">{{$select.selected.RazonSocial}}</ui-select-match>
                            <ui-select-choices repeat="item in listProveedores | filter: $select.search">
                                <div ng-bind-html="item.RazonSocial | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="ddlEstado">Estado </label>&nbsp;<a href="" ng-click="LimpiarComboEstado()"><i style="color:gray" class="fas fa-trash"></i></a>
                        <ui-select ng-model="item.estado" theme="select2" class="form-control" title="Seleccione el estado">
                            <ui-select-match placeholder="Buscar...">{{$select.selected.Nombre}}</ui-select-match>
                            <ui-select-choices repeat="item in listEstados | filter: $select.search">
                                <div ng-bind-html="item.Nombre | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="ddlCanalizacion">Canalización </label>&nbsp;<a href="" ng-click="LimpiarComboCanalizacion()"><i style="color:gray" class="fas fa-trash"></i></a>
                        <ui-select ng-model="item.canalizacion" theme="select2" class="form-control" title="Seleccione la canalización">
                            <ui-select-match placeholder="Buscar...">{{$select.selected.Descripcion}}</ui-select-match>
                            <ui-select-choices refresh="GetCanalizaciones($select.search)" refresh-delay="1" repeat="item in listCanalizacion">
                                <div ng-bind-html="item.Descripcion | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="ddlDestinatario">Destinatario </label>&nbsp;<a href="" ng-click="LimpiarComboDestinatario()"><i style="color:gray" class="fas fa-trash"></i></a>
                        <ui-select ng-model="item.destinatario" ng-change="ReloadCombosByDestinatario()" theme="select2" class="form-control" title="Seleccione el destinatario">
                            <ui-select-match placeholder="Buscar...">{{$select.selected.NombreDeUsuario}}</ui-select-match>
                            <ui-select-choices refresh="GetDestinatarios($select.search)" refresh-delay="1" repeat="item in listDestinatarios | filter: $select.search">
                                <div ng-bind-html="item.NombreDeUsuario | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="ddlSector">Sector </label>&nbsp;<a href="" ng-click="LimpiarComboSector()"><i style="color:gray" class="fas fa-trash"></i></a>
                        <ui-select ng-model="item.sector" theme="select2" class="form-control" title="Seleccione el sector">
                            <ui-select-match placeholder="Buscar...">{{$select.selected.Descripcion}}</ui-select-match>
                            <ui-select-choices refresh="GetSectores($select.search)" refresh-delay="1" repeat="item in listSector | filter: $select.search">
                                <div ng-bind-html="item.Descripcion | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped" style="text-align:center;">
                    <thead>
                        <tr>
                            <th>Nro. Seguimiento</th>
                            <th>Fecha</th>
                            <th>Producto</th>
                            <th>Proveedor</th>
                            <th>Destinatario</th>
                            @*<th>Autorizado Retirar</th>*@
                            <th>Sector</th>
                            <th>Canalización</th>
                            @*<th>Dirección</th>*@
                            <th>Estado</th>
                            @*<th>Ver Detalle</th>*@
                            <th colspan="5">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="item in items|itemsPerPage:pageSize" total-items="totalCount">
                            <td>{{item.NroSeguimiento.substr(0,12)+" " +item.NroSeguimiento.substr(12,item.NroSeguimiento.Length())}}</td>
                            <td>{{item.Fecha}}</td>
                            <td>{{item.TipoProducto}}</td>
                            <td>{{item.Proveedor}}</td>
                            <td>{{item.Destinatario}}</td>
                            @*<td>{{item.AutorizadoRetirar}}</td>*@
                            <td>{{item.SectorDescripcion}}</td>
                            <td>{{item.Canalizacion}}</td>
                            @*<td>{{item.Direccion}}</td>*@
                            <td>{{item.Estado}}</td>
                            @*<td><a data-toggle="modal" data-target="#ModalDetalleProyecto" ng-click="GetIngresoDetalle(item.IdIngreso)" style="cursor:pointer" title="Ver Detalle"><i class="fas fa-search"></i></a></td>*@

                            <td>
                                <a href="" ng-click="VerDetalle(item)" title="Ver Detalle" style="font-size:15px" data-target="#ModalDetallePedido">
                                    <svg style="height: 15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#007bff" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" /></svg>
                                </a>
                            </td>
                            <td>
                                <a href="" ng-if="item.IdEstado == 3" ng-click="CancelarPedido(item)" title="Cancelar" style="font-size:15px">
                                    <svg style="height: 15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#007bff" d="M256 8C119.034 8 8 119.033 8 256s111.034 248 248 248 248-111.034 248-248S392.967 8 256 8zm130.108 117.892c65.448 65.448 70 165.481 20.677 235.637L150.47 105.216c70.204-49.356 170.226-44.735 235.638 20.676zM125.892 386.108c-65.448-65.448-70-165.481-20.677-235.637L361.53 406.784c-70.203 49.356-170.226 44.736-235.638-20.676z" /></svg>
                                </a>
                            </td>
                            <td>
                                <a target="_blank" href="{{rutaDescargaEtiqueta}}{{item.IdIngreso}}" title="Ver etiqueta" style="font-size:15px">
                                    <svg style="height: 15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#007bff" d="M0 448V64h18v384H0zm26.857-.273V64H36v383.727h-9.143zm27.143 0V64h8.857v383.727H54zm44.857 0V64h8.857v383.727h-8.857zm36 0V64h17.714v383.727h-17.714zm44.857 0V64h8.857v383.727h-8.857zm18 0V64h8.857v383.727h-8.857zm18 0V64h8.857v383.727h-8.857zm35.715 0V64h18v383.727h-18zm44.857 0V64h18v383.727h-18zm35.999 0V64h18.001v383.727h-18.001zm36.001 0V64h18.001v383.727h-18.001zm26.857 0V64h18v383.727h-18zm45.143 0V64h26.857v383.727h-26.857zm35.714 0V64h9.143v383.727H476zm18 .273V64h18v384h-18z" /></svg>
                                </a>
                            </td>
                            <td>
                                <a ng-show="item.TieneArchivo" target="_blank" href="{{rutaDescargaArchivo}}{{item.IdIngreso}}" title="Descargar archivo" style="font-size:15px">
                                    <svg style="height: 15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#007bff" d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49c20.1 20.1 52.5 20.1 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z" /></svg>
                                </a>
                            </td>
                            <td>
                                <a ng-show="item.EsEgreso" target="_blank" href="{{rutaDescargaComprobante}}{{item.IdEgreso}}" title="Ver Comprobante Egreso" style="font-size:15px">
                                    <svg style="height: 15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#007bff" d="M32 448c0 17.7 14.3 32 32 32h384c17.7 0 32-14.3 32-32V160H32v288zm160-212c0-6.6 5.4-12 12-12h104c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12H204c-6.6 0-12-5.4-12-12v-8zM480 32H32C14.3 32 0 46.3 0 64v48c0 8.8 7.2 16 16 16h480c8.8 0 16-7.2 16-16V64c0-17.7-14.3-32-32-32z" /></svg>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div ng-if="items.length > 0" class="row justify-content-center">
        <nav style="overflow:auto;">
            <dir-pagination-controls max-size="10"
                                     direction-links="true"
                                     boundary-links="true"
                                     template-url="~/Scripts/dirPagination.tpl.html"
                                     on-page-change="getPaginatedList(newPageNumber,oldPageNumber)">
            </dir-pagination-controls>
        </nav>
    </div>
    <!-- Modal -->
    <div class="modal fade " id="ModalDetalleProyecto" tabindex="-1" role="dialog" aria-labelledby="ModalDetalleProyecto" aria-hidden="true">
        <div class="modal-dialog " role="document" style="min-width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalDetalleProyecto">Detalle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td style="border-top:0"><b>Nro. Seguimiento: </b><span>{{unItem.NroSeguimiento.substr(0,12)+" " +unItem.NroSeguimiento.substr(12,unItem.NroSeguimiento.Length())}}</span></td>
                                        <td style="border-top:0"><b>Fecha: </b><span>{{unItem.Fecha}}</span></td>
                                        <td style="border-top:0"><b>Producto: </b><span>{{unItem.TipoProducto}}</span></td>
                                        <td style="border-top:0"><b>Estado: </b><span>{{unItem.Estado}}</span></td>
                                    </tr>
                                    <tr>
                                        <td style="border-top:0"><b>Proveedor: </b><span>{{unItem.Proveedor}}</span></td>
                                        <td style="border-top:0"><b>Autorizado Retirar: </b><span>{{unItem.AutorizadoRetirar}}</span></td>
                                        <td style="border-top:0"><b>Dirección: </b><span>{{unItem.Direccion}}</span></td>
                                        <td style="border-top:0"></td>
                                    </tr>
                                    <tr>
                                        <td style="border-top:0"><b>Fecha de Egreso: </b><span></span></td>
                                        <td style="border-top:0"><b>Usuario Egreso: </b><span></span></td>
                                        <td style="border-top:0"><b>Fecha de Retiro: </b><span></span></td>
                                        <td style="border-top:0"><b>Usuario Retiro: </b><span></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade " id="ModalDetallePedido" tabindex="-1" role="dialog" aria-labelledby="ModalDetallePedido" aria-hidden="true">
        <div class="modal-dialog " role="document" style="min-width: 50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detalle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body table-responsive">
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td><b>Nro. Seguimiento: </b></td>
                                <td>{{itemSeleccionado.NroSeguimiento.substr(0,12)+" " +itemSeleccionado.NroSeguimiento.substr(12,itemSeleccionado.NroSeguimiento.Length())}}</td>
                                <td><b>Fecha: </b></td>
                                <td>{{itemSeleccionado.Fecha}}</td>
                            </tr>
                            <tr>
                                <td><b>Producto: </b></td>
                                <td>{{itemSeleccionado.TipoProducto}}</td>
                                <td><b>Estado: </b></td>
                                <td>{{itemSeleccionado.Estado}} <span ng-show="itemSeleccionado.EstadoFecha">( {{itemSeleccionado.EstadoFecha}} ) </span></td>
                            </tr>
                            <tr>
                                <td><b>Proveedor: </b></td>
                                <td>{{itemSeleccionado.Proveedor}}</td>
                                <td><b>Autorizado Retirar: </b></td>
                                <td>{{itemSeleccionado.AutorizadoRetirar}}</td>
                            </tr>
                            <tr>
                                <td><b>Dirección: </b></td>
                                <td colspan="3">{{itemSeleccionado.Direccion}}</td>
                            </tr>
                            <tr>
                                <td><b>Destinatario: </b></td>
                                <td>{{itemSeleccionado.Destinatario}}</td>
                                <td><b>Sector: </b></td>
                                <td>{{itemSeleccionado.SectorDescripcion}}</td>
                            </tr>
                            <tr>
                                <td><b>Canalizacion: </b></td>
                                <td>{{itemSeleccionado.Canalizacion}}</td>
                                <td><b>Archivo :</b></td>
                                <td>
                                    <a ng-show="itemSeleccionado.TieneArchivo" target="_blank" href="{{rutaDescargaArchivo}}{{itemSeleccionado.IdIngreso}}" title="Descargar archivo" style="font-size:20px">
                                        <i class="fas fa-download"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Etiqueta: </b></td>
                                <td>
                                    <a target="_blank" href="{{rutaDescargaEtiqueta}}{{itemSeleccionado.IdIngreso}}" title="Ver etiqueta"  style="font-size:20px">
                                        <i class="fas fa-barcode"></i>
                                    </a>
                                </td>
                                <td><b>Comprobante :</b></td>
                                <td>
                                    <a ng-show="itemSeleccionado.EsEgreso" target="_blank" href="{{rutaDescargaComprobante}}{{itemSeleccionado.IdEgreso}}" title="Ver Comprobante Egreso"  style="font-size:20px">
                                        <i class="fas fa-archive"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Usuario: </b></td>
                                <td>{{itemSeleccionado.UsuarioEstadoPor}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btnOcasa" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>


